@font-face {
  src: url(fonts/Rafaella.ttf);
  font-family: rafaella;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 236, 228);
}

button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  width: 245px;
  height: 90px;
  order: 2;
  margin-right: 50px;
}
nav {
  order: 1;
}
.cta {
  order: 3;
}
li,
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: rgb(239, 136, 130);
}
button {
  padding: 9px 25px;
  background-color: rgb(239, 136, 130);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgb(239, 136, 130, 0.8);
}
